header {
    width: 100%;
    color: white;
    background-color: black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
}

nav>a,
nav>a:visited {
    color: white;
    margin: 5px;
    text-decoration: none;
}