<p>articles works!</p>
<!-- <tr *NgFor="titre in titres">{{titres}}</tr>
<tr *NgFor="contenu in contenus"></tr> -->
<table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th style="width:300px">Titre</th>
                <th style="width:300px">contenu</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let article of articles">
                <td style="width:300px">{{article.titre}}</td>
                <td style="width:300px">{{article.contenu}}</td>
                <button routerLink="{{article.id_article}}">Voir plus</button>

            </tr>
        </tbody>
    </table>
      